// bien
.top-wrapper {
    margin-left: 3.7vw;
    width: 100%;
    height: 14vh;
    display: flex;
}

.day-month-year-state-wrapper {
    width: 100%;
    height: 17vh;
    display: flex;
}

.day-month-year-state {
    margin-left: 10.7vw;
    p {
        color: #3d8790;
        font-size: 1.2vw;
    }
}

.day-month-year {
    width: 60%;
    height: 8vh;
    padding: 0px;
    font-size: 1.6rem;
    color: var(--teal-900);
    display: flex;
    p {
        margin-left: 0px;
    }
    margin-top: 20px;
    margin-right: 0px;
}

.angle-down-ic {
    margin-left: 1vw;
}

.magnifying-glass {
    margin-top: 1.8vh;
    margin-left: 0.9vw;
    font-size: 2vw;
}

.option-and-infor-wrapper {
    width: 100%;
    height: 9vh;
    padding-right: 7vw;
    font-size: 1.6rem;
    color: var(--teal-900);
    display: flex;
}

.option-wrapper {
    width: 60%;
    height: 8vh;
    padding: 0px;
    font-size: 1.6rem;
    color: var(--teal-900);
    display: flex;
    //align-items: center;
    p {
        margin-left: 0px;
    }
    margin-top: 20px;
    margin-right: 320px;
}

.list-wrapper {
    width: 10vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #8abfc0;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.39vw;
    padding: 1vh 1.5vw;
    border-width: 0;
    margin-right: 2vw;
    margin-left: 1vw;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.chart-wrapper {
    width: 10vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #ffff;
    text-decoration: none;
    display: flex;
    //flex-direction: row;
    align-items: center;
    font-size: 1.39vw;
    padding: 1vh 2.56vw;
    border-width: 0;
    margin-right: 0px;
    margin-left: 20px;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

//

.year-wrapper {
    width: 9vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #ffff;
    display: flex;
    //flex-direction: row;
    align-items: center;
    font-size: 1.5vw;
    padding: 1vh 2.5vw;
    border-width: 0px;
    margin-right: 1.5vw;
    margin-left: 0vw;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.month-wrapper {
    width: 9vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #ffff;
    display: flex;
    //flex-direction: row;
    align-items: center;
    font-size: 1.5vw;
    padding: 1vh 1.5vw;
    border-width: 0px;
    margin-right: 1.5vw;
    margin-left: 0px;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.day-wrapper {
    width: 9vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #ffff;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    padding: 1vh 2vw;
    border-width: 0px;
    margin-right: 1.5vw;
    margin-left: 0px;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.search-wrapper {
    width: 29vw;
    height: 100%;
    padding-left: 16px;
    background-color: #fff;
    border-radius: 19px;
    display: flex;
}

.search-wrapper input {
    height: 100%;
    color: var(--teal-400);
    font-size: 1vw;
    border: none;
    outline: none;
    text-align: center;
    &::placeholder {
        color: var(--teal-200);
        font-size: 1.5vw;
    }
}

.search-wrapper-button {
    width: 4vw;
    height: 100%;
    border: none;
    background-color: var();
    color: #fff;
    font-size: 4rem;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    opacity: 50%;
    display: flex;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.text-state {
    padding-top: 0px;
    height: 50%;
    p {
        color: #3d8790;
        font-size: 2vh;
    }
}

//


.student-list {
    --student-font-size: 2.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.student {
    width: 73vw;
    height: 10vh;
    margin: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.student-avatar {
    width: 5vw;
    height: 100%;
    border-radius: 50%;
    background-color: aqua;
}

.student-info {
    width: 54vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

// bien

.student-fix {
    width: 10vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    color: var(--teal-900);
    align-items: center;
    font-size: 1.3vw;
    padding: 1vh 1.8vw;
    border-width: 0vh;
    opacity: 60%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}
.time-in {
    padding-left: 0vh;
    margin-top: 1vh;
    margin-right: 20vw;
    font-size: 100%;
}
.time-out {
    padding-right: 0vh;
    margin-top: 1vh;
    font-size: 100%;
}

//

.student-id,
.student-name {
    height: 6vh;
    font-size: var(--student-font-size);
    margin-left: 0.3vw;
    padding: 1vh 2vw;
    color: var(--teal-900);
    font-size: 1.4vw;
}

.student-name {
    border-left: 2px solid var(--teal-200);
    flex: 1;
    padding-top: 0;
}

.student-info-time {
    height: 100%;
    padding: 0px;
    font-size: 0.8em;
    color: var(--teal-500);
    display: flex;
    //align-items: center;
    p {
        margin-left: 0px;
    }
}
