body {
  margin: 0;
  position: absolute;
  width: 1280px;
  height: 720px;
  left: 0px;
  top: 0px;
  background: #E8F4EE;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Roboto Slab',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Login {
  position: absolute;
  width: 581px;
  height: 617px;
  left: 450px;
  top: 70px;
  background: #D2E3DB;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.image{
  position: absolute;
  width: 112px;
  height: 103px;
  left: 240px;
  top: 42px;
  border-radius: 4px;
}

img{
  max-width:100%;
  max-height:100%;
}

.input-container-user{
  position: absolute;
  width: 365px;
  height: 36px;
  left: 114px;
  top: 180px;
}

.input-container-pass{
  position: absolute;
  width: 365px;
  height: 36px;
  left: 114px;
  top: 234px;
}

.input-container-user input{
  box-sizing: border-box;

  position: absolute;
  width: 365px;
  height: 36px;

  background: #FFFEFE;
  border: 1px solid #000000;
  border-radius: 15px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;

  padding: 10px;
}

.input-container-pass input{
  box-sizing: border-box;

  position: absolute;
  width: 365px;
  height: 36px;

  background: #FFFEFE;
  border: 1px solid #000000;
  border-radius: 15px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;

  padding: 10px;
}

.check-box{
  position: absolute;
  width: 252px;
  height: 17px;
  left: 114px;
  top: 276px;
}

.check-box label{
  position: absolute;
  width: 92px;
  height: 17px;
  top: 3.5px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;

  /* teal-900 */

  color: #07373D;
}

.forgot {
  position: absolute;
  max-width: 180px;
  height: 17px;
  left: 345px;
  top: 278px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;

  color: #07373D;
}

.forgot a{
  text-decoration: none;
  color: #07373D;
}

.button-container{
  position: absolute;
  width: 365px;
  height: 36px;
  left: 114px;
  top: 313px;
}

.button-container button{
  box-sizing: border-box;
  cursor: pointer;

  width: 365px;
  height: 36px;

  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 15px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;

  transition: all .3s;

  color: #07373D;
}

.button-container button:focus {
  color: #171e29;
}

.button-container button:hover {
  border-color: rgba(47, 168, 177, 1);
  color: rgba(47, 168, 177, 1);
  fill: rgba(47, 168, 177, 1);
}

.button-container button:active {
  border-color: rgba(47, 168, 177, 1);
  color: rgba(47, 168, 177, 1);
  fill: rgba(47, 168, 177, 1);
}

p{
  position: absolute;
  width: 192px;
  height: 17px;
  left: 191px;
  top: 376px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;

  color: #07373D;
}

p a {
  text-decoration: none;
  color: rgba(47, 168, 177, 1);
}

.stick-1{
  position: absolute;
  width: 167px;
  height: 0px;
  left: 114px;
  top: 432px;

  border: 1.5px solid #07373D;
  background-color: rgba(7, 55, 61, 1);
  border-radius: 15px;
}

.stick-2{
  position: absolute;
  width: 169px;
  height: 0px;
  left: 310px;
  top: 432px;

  border: 1.5px solid #07373D;
  background-color: rgba(7, 55, 61, 1);
  border-radius: 15px;
}

.or{
  position: absolute;
  width: 18px;
  height: 17px;
  left: 287px;
  top: 425px;

  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;

  color: #07373D;
}






