.wrapper {
    min-width: var(--sidebar-width);
    background-color: var(--teal-200);
    position: fixed;
    overflow: auto;

    a {
        text-decoration: none;
        font-size: 2rem;
        padding: 2vh 2vw;
    }

    a:hover {
        background-color: var(--teal-400);
        color: var(--teal-900);
        border-radius: 3vh;
    }
}

.menu-btn {
    display: none;
    font-size: 3rem;
    margin: 20px;
    border: none;
    background-color: transparent;
}

.menu-btn-unactive {
    display: none;
}

.sidebar-display {
    width: 100%;
    height: 100vh;
}

.sidebar-mobile {
    width: 275px;
    height: 95vh;
}

.name-project{
      a {
          color: #07373D;
          padding: 0vw;
          font-size: 2vw;
      }
      a:hover{
          background-color: #D2E3DB;
      }
  }

.sidebar-img {
    width: 85%;
    height: 45px;
    margin: 20px; //căn lề 4tp
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    color: var(--teal-900);
}

.close-btn {
    font-size: 3rem;
    margin-left: 15px;
    border: none;
    background-color: transparent;
    display: none;
}

.sidebar-link {
    height: 70%;
    border-top: 2px solid var(--teal-400);
    border-bottom: 2px solid var(--teal-400);

    a {
            height: 8vh;
            margin: 2vh 2vw;
            display: block;
            text-align: center;
    }
}

.sidebar-btn {
    color: var(--teal-600);
}

.sidebar-btn-active {
    background-color: var(--teal-400);
    color: var(--teal-900);
    border-radius: 3vh;
}

.sidebar-signout {
    width: 80%;
    margin: 2vh 1.4vw;
    display: block;
    color: var(--teal-600);
    text-align: center;
}

@media screen and (max-width: 1250px) {
    .sidebar-display {
        display: none;
    }
    
    .wrapper {
        min-width: 75px;
        height: 100vh;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    .close-btn {
        display: block;
    }
}