.wrapper {
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--teal-200);
    position: fixed;
    overflow: auto;

    a {
        text-decoration: none;
        font-size: 2.2rem;
        padding: 20px 50px;
    }

    a:hover {
        background-color: var(--teal-400);
        color: var(--teal-900);
    }
}

.sidebar-img {
    width: 85%;
    height: 45px;
    margin: 20px; //căn lề 4tp
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    color: var(--teal-900);

    h1 {
        margin-left: 10px;
        font-size: 2.5rem;
    }
}

.sidebar-link {
    height: 520px;
    border-top: 2px solid var(--teal-400);
    border-bottom: 2px solid var(--teal-400);
    margin: 20px;

    a {
        height: 65px;
        margin: 20px 0;
        display: block;
        color: var(--teal-600);
        font-size: 2rem;
    }
}

.sidebar-signout {
    width: 85%;
    height: 65px;
    margin: 20px;
    display: block;
    color: var(--teal-600);
}

.active {
    background-color: var(--teal-400);
    color: var(--teal-900);
}
