// bien
.top-wrapper-chart {
    width: 100%;
    height: 14vh;
    display: flex;
}

.day-month-year-state-wrapper-chart {
    width: 100%;
    height: 17vh;
    display: flex;
}

.day-month-year-state-chart {
    margin-left: 10.7vw;
    p {
        color: #3d8790;
        font-size: 1.2vw;
    }
}

.day-month-year-chart {
    width: 60%;
    height: 8vh;
    padding: 0px;
    font-size: 1.6rem;
    color: var(--teal-900);
    display: flex;
    p {
        margin-left: 0px;
    }
    margin-top: 1.5vh;
    margin-right: 0px;
}

.text-today {
    margin-top: 2vh;
    margin-bottom: 2vh; 
}

.angle-down-ic-chart {
    margin-left: 1vw;
}

.magnifying-glass-chart {
    margin-top: 1.8vh;
    margin-left: 0.9vw;
    font-size: 2vw;
}

.option-and-infor-wrapper-chart {
    width: 100%;
    height: 9vh;
    font-size: 1.6rem;
    color: var(--teal-900);
    display: flex;
}

.option-wrapper-chart {
    width: 60%;
    height: 8vh;
    padding: 0px;
    font-size: 1.6rem;
    color: var(--teal-900);
    display: flex;
    //align-items: center;
    p {
        margin-left: 0px;
    }
    margin-top: 20px;
    margin-right: 320px;
}

.list-wrapper-chart {
    width: 10vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #ffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.39vw;
    padding: 1vh 1.5vw;
    border-width: 0;
    margin-right: 2vw;
    margin-left: 3vw;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.chart-wrapper-chart {
    width: 10vw;
    height: 100%;
    border-radius: 3vh;
    background-color: #8abfc0;
    text-decoration: none;
    display: flex;
    //flex-direction: row;
    align-items: center;
    font-size: 1.39vw;
    padding: 1vh 2.56vw;
    border-width: 0;
    margin-right: 0px;
    margin-left: 20px;
    color: var(--teal-900);
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

//

.dmy-wrapper-chart input {
    border-radius: 3vh;
    height: 100%;
    color: var(--teal-400);
    font-size: 1.5vw;
    border: none;
    outline: none;
    margin-right: 1.5vw;
    text-align: center;
    &::placeholder {
        color: var(--teal-200);
        font-size: 1.5vw;
    }
    width: 8vw;
}


.xem-ngay-wrapper-chart {
    width: 10vw;
    height: 100%;
    border-radius: 3vh;
    background-color: var(--teal-900);
    align-items: center;
    font-size: 1.5vw;
    padding: 1vh 1vw;
    border: 0px;
    color: #ffff;
    opacity: 70%;
    &:hover {
        cursor: pointer;
        opacity: 100%;
    }

    &:active {
        cursor: pointer;
        opacity: 70%;
    }
}

.text-xem-ngay-wrapper-chart {
    width: 7vw;
}

.bar-chart {
    margin-top: 4vh;
    margin-left: 10.5vw;
    width: 60vw;
}
