.checkin {
    width: 573px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkin-wrapper {
    width: 573px;
}

.status {
    display: block;
}
.user {
    background-color: #80BABC;
    height: 1000px;
}
.user-info {
    background-color: #fff;
    width: 630px;
    height: 60px;
}